<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="generator" content="Eleventy">
  <link href="https://github.com/finmoorhouse" rel="me">
  <link rel="webmention" href="https://webmention.io/www.finmoorhouse.com/webmention">
  <link rel="pingback" href="https://webmention.io/www.finmoorhouse.com/xmlrpc">
  <meta property="og:type" content="website">
  <meta name="author" content="Fin Moorhouse">
  <meta name="theme-color" content="#333948">
  <meta name="monetization" content="ilp.uphold.com/4rHyDzRz66Dw">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@finmoorhouse">
  <meta name="twitter:creator" content="Fin Moorhouse">

  <!-- Description -->
  {% if description %}
  <meta name="twitter:description" content="{{ description }}">
  <meta name="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  {% else %}
  <meta name="twitter:description" content="The portfolio and blog of Fin Moorhouse.">
  <meta name="description" content="The portfolio and blog of Fin Moorhouse.">
  <meta property="og:description" content="The portfolio and blog of Fin Moorhouse.">
  {% endif %}  

  <!-- Title -->
  {% if title %}
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}">
  {% else %}
  <meta name="twitter:title" content="Fin Moorhouse">
  <meta property="og:title" content="Fin Moorhouse">
  {% endif %}
  
  <!-- Share image -->
  {% if shareImage %}
  <meta name="twitter:image" content="{{ shareImage }}">
  <meta property="og:image" content="{{ shareImage }}">
  <meta name="image" content="{{ shareImage }}">
  {% else %}
  <meta name="twitter:image" content="https://www.images.finmoorhouse.com/share-images/share-1.png">
  <meta property="og:image" content="https://www.images.finmoorhouse.com/share-images/share-1.png">
  <meta name="image" content="https://www.images.finmoorhouse.com/wshare-images/share-1.png">
  {% endif %}

  <!-- <base target="_blank"> -->
  <link rel="stylesheet" href="/global-processed.css"/>
  {% if extraStyle %}
  {% for styleLink in extraStyle %}
      <link rel="stylesheet" href="{{styleLink}}"/>
      {% endfor %}
  {% endif %}
  <meta name="description" content="
  {% if description %}
  {{ description }}
  {% else %}
  {{ site.description }}
  {% endif %}
  ">
  <title>{{ site.author }}{% if title %} - {{ title }}{% endif %}</title>
</head>
<body id="top" class="bg-flint-500 text-slate-50">
  <nav class="flex flex-row max-w-lg mx-auto justify-between py-4 text-sm px-4">
    <header class="flex flex-none opacity-50 hover:underline decoration-dotted"><a href="/">Fin Moorhouse</a></header>
    <ul class="flex flex-none gap-x-4">
    {% for item in nav.items %}
    <li class="inline"><a href="{{ item.url }}"
      {% if (item.url in page.url and item.url!="/") or (item.url == "/" and page.url == "/") %}
      aria-current="page" data-state="active" class="opacity-100 underline decoration-dotted"
      {% else %}
      class="opacity-50 hover:underline decoration-dotted"
      {% endif %} target="_self">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul></nav>
  
  <main class="prose prose-invert font-serif pt-12">
    {{ content | safe }}
    {#<small >{{ site.author }} &copy; {{ site.copyrightYear }}</small>#}
  </main>
</body>
</html>