---
layout: base.njk
---

{% if title %}
<h1 class="mb-4">{{ title }}</h1>
{% endif %} {% if page.date %}
<p class="font-sans">
  {{ page.date.toLocaleDateString("en-GB", {year: 'numeric', month: 'long'}) }}
</p>
{% endif %}
{% backLink "projects", "projects" %}
<br class="h-1 block"/>
{{ content | safe}}
