---
layout: base.njk
extraStyle:
  ["/style/writing.css", "https://unpkg.com/katex@latest/dist/katex.min.css"]
---

<h1 class="mb-4">{{ title }}</h1>
{% if page.date %}
<p class="font-sans">
  {{ page.date.toLocaleDateString("en-GB", {year: 'numeric', month: 'long'}) }}
</p>
{% endif %} {% backLink "writing", "writing" %} {% if content | toc %}

<div class="block desktop:hidden text-sm bg-flint-400 rounded-md px-8 py-2 font-sans">
  <h2 class="mt-4">Contents</h2>
  {{ content | toc | safe}}
</div>

<nav class="side-nav opacity-60 text-sm hidden font-sans hover:opacity-100">
  <div class="side-nav-offset hidden desktop:block overflow-hidden">
    <h2>Contents</h2>
    {{ content | toc | safe}}
    <a href="#top">Back to top</a>
  </div>
</nav>
{% endif %} {{ content | safe}}

<br/>
{% aside %}
Please feel free to <a href="https://www.admonymous.co/fin" target="_blank">leave feedback</a> on this post or this website. You can do so anonymously. Thanks!
{% endaside %}
<br/>
{% backLink "writing", "writing" %}
