---
layout: base.njk
extraStyle:
  ["/style/writing.css", "https://unpkg.com/katex@latest/dist/katex.min.css"]
---

<h1 class="!mb-2">{{ title }}</h1>
{% if page.date %}
<div class="font-sans text-base pb-6 mb-4">
  <p class="font-sans text-base">
    <span class="opacity-60">Published </span>{{
    page.date.toLocaleDateString("en-GB", {year: 'numeric', month: 'long', day:
    'numeric'}) }} {% if updated %}<span class="opacity-60"> ⋅ Updated </span>{{
    updated.toLocaleDateString("en-GB", {year: 'numeric', month: 'long', day:
    'numeric'}) }} {% endif %} {% if links %} ⋅ Comment on {% for platform, url
    in links %}
    <a
      href="{{ url }}"
      target="_blank"
      class="no-underline hover:underline decoration-dotted"
      >{{ platform }}</a
    >{{ ',' if not loop.last }} {% endfor %} {% endif %}
  </p>
  {% endif %} {% backLink "writing", "writing" %}
  <div class="border-b max-w-xs mt-6 border-slate-600"></div>
</div>

{% if content | toc %}

<details
  class="block desktop:hidden text-sm bg-flint-400 rounded-md px-8 py-4 font-sans mb-4 ring-slate-600 hover:ring-1"
>
  <summary class="text-md cursor-pointer font-medium">
    Contents
    <span class="hidde sm:inline opacity-60 serif"> (click to toggle)</span>
  </summary>
  {{ content | toc | safe}}
</details>

<div
  class="side-nav opacity-60 text-sm hidden font-sans hover:opacity-100 transition-opacity"
>
  <div
    class="side-nav-offset hidden desktop:block overflow-auto hide-scrollbar pt-4"
  >
    <h3>Contents</h3>
    <p>{{ content | wordStats }}</p>
    {{ content | toc | safe}}
    <a
      href="#top"
      class="inline-block no-underline hover:underline decoration-dotted pt-3 mb-6 mt-2 border-t border-slate-600"
      >Back to top &#8593;</a
    >
  </div>
</div>
{% endif %} {{ content | safe}}

<br />
{% aside %} You can
<a href="https://www.admonymous.co/fin" target="_blank"
  >leave (anonymous) feedback</a
>
on this post, or any other aspect of this website. {% endaside %}
<br />
{% backLink "writing", "writing" %}
