---
title: "Projects"
description: "A list of projects I've worked on."
---

<ul>
{% for post in collections.projects | reverse %}

<li class="[&>*]:inline py-2 group">

<a href="{{ post.url }}" class="decoration-solid decoration-[rgba(255,255,255,0.3)] group-hover:decoration-[rgba(255,255,255,0.8)]  transition-colors">{{ post.data.title }}</a>

{% if post.data.date %}

<span class="opacity-60 group-hover:opacity-100 transition-opacity">({% year post.data.date %})</span>

{% endif %}
</li>
{% endfor %}
</ul>

