---
title: "Projects"
description: "A list of projects I've worked on."
---

<ul>
{% for post in collections.projects | reverse %}

<li class="[&>*]:inline py-2">

<a href="{{ post.url }}">{{ post.data.title }}</a>

{% if post.data.date %}

({% year post.data.date %})

{% endif %}
</li>
{% endfor %}
</ul>

