---
title: "Writing"
description: "My writing."
extraStyle: ["/style/writing.css"]
---

You can find many of these posts on the
<a href="https://forum.effectivealtruism.org/users/finm"
  >Effective Altruism Forum</a
>. I also <a href="https://finmoorhouse.substack.com/">have a Substack</a>, if
you'd like to be notified of {% note 'future posts' %}Mostly dormant, but I
intend to resurrect it.{% endnote %}.

<ul>
  {% for post in collections.writing | reverse %}

  <li class="[&>*]:inline py-2">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.data.date %} ({% year post.data.date %}) {% endif %}
  </li>
  {% endfor %}
</ul>
