---
title: "Writing"
description: "My writing."
extraStyle: ["/style/writing.css"]
---

You can find many of these posts on the
<a href="https://forum.effectivealtruism.org/users/finm"
  >Effective Altruism Forum</a
>. If you'd like to be notified of future posts: I have <a href="https://finmoorhouse.substack.com/">a Substack</a> ({% note 'almost' %}It's mostly dormant now, but I
intend to resurrect it.{% endnote %}), or you can subscribe to the <a href="feed.xml">RSS (Atom) feed</a> for this page.

<ul>
  {% for post in collections.writing | reverse %}

  <li class="[&>*]:inline py-2">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.data.date %} ({% year post.data.date %}) {% endif %}
  </li>
  {% endfor %}
</ul>
