---
title: "Writing"
description: "My writing."
extraStyle: ["/style/writing.css"]
---

<a href="https://finmoorhouse.substack.com/">I have a Substack</a> if you'd like to be notified of future posts.<br/>There's also an <a href="feed.xml">RSS (Atom) feed</a> for this page.

<ul>
  {% for post in collections.writing | reverse %}

  <li class="[&>*]:inline py-2">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.data.date %} ({% year post.data.date %}) {% endif %}
  </li>
  {% endfor %}
</ul>
